.container {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 300px;
}

.container p {
  margin: 0;
  padding: 0;
}

.label {
  text-align: left;
}

.inputField {
  background-color: #fff;
  border: 2px solid grey;
  border-radius: 3px;
  width: 100%;
  color: black;
}

.addContact {
  margin: auto;
  color: black;
  padding: 3px;
  background-color: rgb(220, 220, 220);
  border: 2px solid rgb(169, 169, 169);
  border-radius: 3px;
  width: 130px;
  height: 40px;
}

.errorMessage {
  color: red;
}
