.navbar {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  width: 100%;
}

.navLink {
  color: black;
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  line-height: 20px;
}

.navLink:hover {
  color: blue;
  text-decoration: underline;
}

.logout {
  background-color: transparent;
  border: none;
  color: black;
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}

.logout:hover {
  color: blue;
  text-decoration: underline;
}

.mainNavigation,
.loginNavigation {
  display: flex;
  gap: 20px;
}

.isActive {
  color: red;
}
