.navbar {
  /* position: relative; */
  /* top: 0; */
  display: flex;
  gap: 20px;
  padding: 30px 0 30px 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  width: 100%;
}

.navLink {
  color: black;
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  line-height: 20px;
}

.navLink:hover {
  color: blue;
  text-decoration: underline;
}

.isActive {
  color: red;
}
