.navbar {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  width: 97%;
}

.navLink {
  color: black;
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  line-height: 20px;
  margin-right: 30px;
}

.navLink:hover {
  color: blue;
  text-decoration: underline;
}

.logout {
  background-color: transparent;
  border: none;
  color: black;
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}

.logout:hover {
  color: blue;
  text-decoration: underline;
}
.isActive {
  color: red;
}

.welcomeContainer {
  display: flex;
}

.welcome {
  color: rgb(55, 55, 55);
  font-size: 36px;
  font-weight: 600;
  line-height: 20px;
  margin-right: 30px;
}
